PORT=5000
NODE_ENV=development

MONGO_URI=mongodb+srv://servyyai_db_user:uiEjLg7nuATqmlXA@cluster0.18tkgpv.mongodb.net/

JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_DAYS=7

ADYEN_API_KEY=
ADYEN_MERCHANT_ACCOUNT=
ADYEN_CLIENT_KEY=
ADYEN_HMAC_KEY=
ADYEN_ENVIRONMENT=test

CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
